.metrics-container {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  z-index: 1;
}

.metrics {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #ececee;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  white-space: nowrap;
}

.metric {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metric .count {
  font-size: 1.5rem;
  font-weight: bold;
}

.metric button {
  margin-top: 1rem;
  width: 100%;
  font-size: 0.75rem;
}

#student-name {
  margin: 1rem 0;
}

.trophy {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.trophy img {
  height: 250px;
  margin-bottom: 0.5rem;
}

.trophy-modal {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-modal img {
  height: 300px;
  margin-bottom: 0.5rem;
}

.inactive {
  opacity: 0.4;
  filter: grayscale(1);
}

.active {
  opacity: 1;
}
